<head>
    <title>
        Create Document
    </title>
</head>
<body>
    @Html.Partial("MenuPartial")

    <h3>Select File</h3>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <label>File Name</label>
        <input type="text" name="name" required />
        <br>
        <input type="file" name="upload" required />
        <br>
        <input type="submit" value="Upload" />
    }
</body>